@{
    ViewBag.Title = "Demo";
}


<div>
    今日挑战:<br />
    浏览数： 回答数：评论数： <br />    
    @ViewBag.Problem.Title<br />
    @ViewBag.Problem.Content<br />
</div>
<div>
    我来回答:<br />
    <form action="Home/Submit" method="post">
        <textarea cols="80" rows="10" placeholder="我的答案" name="content"></textarea><br>
        <input type="hidden" name="userId" value="1">
        <input type="hidden" name="problemId" value="2">
        <input type="hidden" name="answerTime">
        <input type="submit" value="提交答案">
    </form>
</div>
<div id="footer">

</div>
<script type='text/javascript'>
</script>